.nav-container {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  width: 100%;
  padding: 14px 0;
  background: #000;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  z-index: 10000001;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.nav-links a {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 22px;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 0 #1e1929, 0 8px 10px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  font-family: 'Orbitron', sans-serif;
  font-size: 0.8rem;
}

.nav-links a:hover {
  transform: translateY(-3px);
  background: rgba(188, 173, 222, 0.15);
  border: 1px solid rgba(188, 173, 222, 0.4);
  box-shadow: 0 4px 0 #bcadde, 0 8px 10px rgba(0, 0, 0, 0.8);
}



.navlogo {
  height: 60px;
}